.root
{
    -fx-background-image: url(/Imagenes/MenuWallpaper.jpg);
    -fx-background-repeat: stretch;   
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}

#TITULO
{
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-font: 70px Papyrus;
    -fx-text-fill: black;
    -fx-stroke-width: 1;
    -fx-padding: -10 25 0 25;
    -fx-background-color: white;
}

#buttonJugar
{
    -fx-padding: 5 100 5 100;   
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: gray;
    -fx-font-family: Cooper;
    -fx-font-size: 16pt;
    -fx-text-fill: white;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

#buttonJugar:hover
{
    -fx-padding: 5 100 5 100;   
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: gray;
    -fx-font-family: Cooper;
    -fx-font-size: 16pt;
    -fx-text-fill: yellow;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

#buttonLogros
{
    -fx-padding: 5 92 5 92;   
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: gray;
    -fx-font-family: Cooper;
    -fx-font-size: 16pt;
    -fx-text-fill: white;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

#buttonLogros:hover
{
    -fx-padding: 5 92 5 92;   
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: gray;
    -fx-font-family: Cooper;
    -fx-font-size: 16pt;
    -fx-text-fill: yellow;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

#buttonOpcion
{
    -fx-padding: 5 80 5 80;   
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: gray;
    -fx-font-family: Cooper;
    -fx-font-size: 16pt;
    -fx-text-fill: white;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

#buttonOpcion:hover
{
    -fx-padding: 5 80 5 80;   
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: gray;
    -fx-font-family: Cooper;
    -fx-font-size: 16pt;
    -fx-text-fill: yellow;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

#buttonSalir
{
    -fx-padding: 5 105 5 105;   
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: gray;
    -fx-font-family: Cooper;
    -fx-font-size: 16pt;
    -fx-text-fill: white;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

#buttonSalir:hover
{
    -fx-padding: 5 104 5 104;   
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: gray;
    -fx-font-family: Cooper;
    -fx-font-size: 16pt;
    -fx-text-fill: yellow;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}